<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="topnav">
  <a routerLinkActive="active" [routerLink]="['home']" >Home</a>
  <a  routerLinkActive="active" [routerLink]="['/infodisplay']" >Display Data</a>
  <a  routerLinkActive="active" href="#calculator">Calculator</a>
  <a  routerLinkActive="active" href="#contact">Calculate Salary</a>
  <a  routerLinkActive="active" [routerLink]="['/expressions']" >Expressions</a>
  <div class="topnav-right">
    <a href="#search">Search</a>
    <a href="#about">About</a>
  </div>
</div>
</body>
</html>
